:root {
    --bg-color: #f3f4f6;
    --text-color: #1f2937;
    --primary-color: #3b82f6;
    --primary-hover: #2563eb;
    --secondary-color: #ffffff;
    --secondary-hover: #f4f4f4;
    --border-color: #e5e7eb;
    --success-color: #10b981;
    --danger-color: #ef4444;
}

[data-theme='dark'] {
    --bg-color: #111827;
    --text-color: #f9fafb;
    --primary-color: #60a5fa;
    --primary-hover: #3b82f6;
    --secondary-color: #1f2937;
    --secondary-hover: #2b384c;
    --border-color: #374151;
}

body {
    margin: 0;
    font-family: system-ui, sans-serif;
}